<div class="row">
  <span class="col-md-3">
    <h2>{{ building.name }}</h2>
  </span>
  <span class="col-md-9">
    <img [src]="building.imageUrl" alt="" id="curr-building-img">
    <span *ngIf="building && building.grid">
      <span *ngFor="let gridColumn of building.grid; let i = index" class="grid-column">
        <app-grid-entry *ngFor="let gridEntry of gridColumn;" 
          [gridEntry]="gridEntry" 
          [ngStyle]="{ left: gridEntry.locX + 'px', top: gridEntry.locY + 'px'}" >
        </app-grid-entry>
      </span>
    </span>
    <span>
      <label>
        Image Url:
        <input type="text" [(ngModel)]="building.imageUrl">
      </label>
    </span>
  </span>
</div>