<div class="building-list-container row">
  <div style="margin-left:10px">
    <span class="col-md-3">
      <h4>Building Name</h4>
    </span>
    <span class="col-md-9">
      <h4>Floor Plan</h4>
    </span>
    <div style="clear:both"></div>
  </div>
  <hr>
  <div class="building-list-entry hoverable" *ngFor="let building of buildings; let x = index;" [routerLink]="x">
    <span class="col-md-3">
        <h4>{{ building.name }}</h4>
      </span>
    <span class="col-md-9">
        <img *ngIf="building.imageUrl && building.imageUrl != ''" [src]="building.imageUrl">
        <span *ngIf="!building.imageUrl">No floor plan yet</span>
      </span>
    <div style="clear:both"></div>
  </div>
  <div style="padding:25px" *ngIf="!buildings || !buildings.length || buildings.length <= 0">No buildings yet</div>
</div>