.hoverable{
    cursor:pointer;
    transition: background-color .5s ease;
}
.hoverable:hover{
    background-color: #ccc;
}

.building-list-entry img {
    max-height: 200px;
}
.building-list-entry{
    padding:10px;
}
hr{
    border:1px solid #333;
    margin:0px;
}